.score-view-container {
  position: absolute;
  top: 6vw;
  left: 4vw
}

.score-view-text {
  color: white;
  font-family: Lobster;
  font-size: 64px;
}

.score-view-total {
  color: rgba(255, 255, 255, 0.5);
}