@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.choice-item {
  max-width: 20vw;
  display: inline-block;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.choice-item-text {
  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: white;
  padding: 16px;
}

.choice-item-image {
  max-width: 20vw;
  border-radius: 16px 16px 0px 0px;
}

.review-item-container {
  max-width: 1024px;
  padding-left: 5vw;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-right: 5vw;
  background: rgba(255, 255, 255, 0.2);
  min-height: 25vh;
  margin-top: 15vh;
}
.review-item-content {
}
.review-item-text {
  color: #FFFFFF;
  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
}